<h1 mat-dialog-title class="dialog-title" i18n>Add County</h1>
<div mat-dialog-content>
    <mat-form-field class="form-field">
        <mat-label i18n>County Name</mat-label>
        <input matInput [(ngModel)]="county.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label i18n>County ZIP Code</mat-label>
        <input type="number" matInput [(ngModel)]="county.zip">
    </mat-form-field>
    <div mat-dialog-actions>
        <button mat-raised-button color="secondary" (click)="onCancel()" i18n>Cancel</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="county" cdkFocusInitial i18n>Add</button>
    </div>
</div>