<button class="add-button" color="primary" mat-fab extended i18n (click)="openIndicationModal()">
  <mat-icon>add</mat-icon>
  Add Indicator
</button>
<table class="county-table" mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef i18n>Name</th>
    <td mat-cell *matCellDef="let indicator">{{indicator?.name}}</td>
  </ng-container>
  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef i18n>Comment</th>
    <td mat-cell *matCellDef="let indicator">{{indicator?.comment}}</td>
  </ng-container>
  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef i18n>Unit</th>
    <td mat-cell *matCellDef="let indicator">{{indicator?.unit}}</td>
  </ng-container>
  <ng-container matColumnDef="topic">
    <th mat-header-cell *matHeaderCellDef i18n>Topic Id</th>
    <td mat-cell *matCellDef="let indicator">{{indicator?.topicId}}</td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Details</th>
    <td mat-cell *matCellDef="let indicator">
      <a class="arrow-icon" [routerLink]="['/admin/indicator', indicator.id]">
          <mat-icon color="primary">arrow_forward</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
