<button class="add-button" mat-fab extended i18n>
  <mat-icon>add</mat-icon>
  Add County
</button>
<table class="county-table" mat-table [dataSource]="indicatorData">
  <ng-container matColumnDef="dimension">
    <th mat-header-cell *matHeaderCellDef i18n>Dimension</th>
    <td mat-cell *matCellDef="let indicator">{{indicator.dimension}}</td>
  </ng-container>
  <ng-container matColumnDef="topic">
    <th mat-header-cell *matHeaderCellDef i18n>Topic</th>
    <td mat-cell *matCellDef="let indicator">{{indicator.topic}}</td>
  </ng-container>
  <ng-container matColumnDef="indicator">
    <th mat-header-cell *matHeaderCellDef i18n>Indicator</th>
    <td mat-cell *matCellDef="let indicator">{{indicator.indicator}}</td>
  </ng-container>
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef i18n>Value</th>
    <td mat-cell *matCellDef="let indicator">{{indicator.value}}</td>
  </ng-container>
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef i18n>Rating</th>
    <td mat-cell *matCellDef="let indicator">{{indicator.rating}}</td>
  </ng-container>
  <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef i18n>Source</th>
    <td mat-cell *matCellDef="let indicator">{{indicator.source}}</td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let county">
      <a [routerLink]="[county.url]">
        <mat-icon>arrow_right_alt</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
