<div class="row">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{config.title}}
            </mat-panel-title>
            <mat-panel-description *ngIf="config.description">
                {{config.description}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <app-visualization-filter (filterDataEvent)="updateFilteredData($event)"></app-visualization-filter>
            <div>
                <app-visualization-table-result *ngIf="config.showTable" [data]="filteredData"></app-visualization-table-result>
                <app-visualization-chart-result [data]="filteredData"></app-visualization-chart-result>
            </div>
        </div>
    </mat-expansion-panel>
</div>
