<div class="row">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{config.title}}
            </mat-panel-title>
            <mat-panel-description *ngIf="config.description">
                {{config.description}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <div class="header">
                <app-visualization-filter (filterDataEvent)="updateFilteredData($event)"
                                          [filter]="config.filters ?? {}"></app-visualization-filter>
                <button class="add-button" color="primary" mat-icon-button (click)="openAddItemDialog()" extended>
                    <mat-icon>add</mat-icon>
                </button>
                <button class="add-button" color="secondary" mat-icon-button (click)="openEditRowDialog()" extended>
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <div class="container" [class.container-2]="config.rows === 2"
                 [class.container-3]="config.rows === 3"
                 [class.container-4]="config.rows === 4">
                <ng-container *ngFor="let item of config.config.sort(sortByWeight);let itemIndex=index;">
                    <div class="item">
                        <app-visualization-table-result [data]="filteredData"
                                                        *ngIf="item.type === ItemType.TABLE"></app-visualization-table-result>
                        <app-visualization-table-matrix-result [data]="filteredData"
                                                               *ngIf="item.type === ItemType.MATRIX"></app-visualization-table-matrix-result>
                        <app-visualization-chart-result [data]="filteredData"
                                                        *ngIf="item.type === ItemType.SPIDER_CHART"></app-visualization-chart-result>
                        <button class="delete-button" mat-icon-button color="secondary" (click)="removeItem(itemIndex)" extended>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </mat-expansion-panel>
</div>
